<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Flight<br>No.</th>
        <th>Departure<br>Date/time</th>
        <th> All<br>details</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><a href="/flights/<%= f.id %>">details</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>