<%- include('../partials/header') %>

<section>
    <div><em>Airline:</em></div>
    <div><%= flight.airline %> </div>
    <div><em>Airport:</em></div>
    <div><%= flight.airport %> </div>
    <div><em>Flight Number:</em></div>
    <div><%= flight.flightNo%> </div>
    <div><em>Departs</em></div>
    <div><%= flight.departs %> </div>
    
</section>

<br><br>
<h2>Destinations</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>Destination</label>
  <select name="arrival">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <input type="submit" value="Add destination">
</form>


<% if (flight.destinations.length) { %>

    <table>
      <thead>
        <tr>
          <th>Destinations</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No destinations listed</h5>
  <% } %>

<%- include('../partials/footer') %>